/node_modules
/public/hot
/public/fonts
/public/css
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/.phpintel/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.swp
*~
package-lock.json
tags

# Assets do AdminLTE

/public/vendor/adminlte
